#related {
    display : none
}

#primary.ytd-two-column-browse-results-renderer {
    display : none
}

#guide-content.ytd-app {
    display : none !important
}

.ytp-endscreen-content {
    display: none;
}

.ytp-ce-element {
    display: none !important;
}

.ytp-next-button {
    display: none !important;
}